<mat-form-field 
  appearance="fill" 
  class="contender-status-field"
  [matTooltip]="currentTooltip"
  matTooltipPosition="left">
  <mat-select 
    [value]="value" 
    (valueChange)="onValueChange($event)"
    class="contender-status-select"
    disableOptionCentering="true">
    <mat-option 
      *ngFor="let option of allOptions" 
      [value]="option.value"
      class="contender-status-option"
      [matTooltip]="option.tooltip"
      matTooltipPosition="left">
      {{ option.label }}
    </mat-option>
  </mat-select>
</mat-form-field>
