.sidenav-container {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.sidenav {
  width: 220px;
  background: #212121;
  color: #fff;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  flex-direction: column;
}

mat-icon {
  margin-right: 12px;
  color: #ff9800;
}

mat-list-item {
  font-weight: 500;
}

mat-list-item.active, a.mat-list-item.active {
  background: rgba(255, 152, 0, 0.15);
}

::ng-deep mat-nav-list {
  overflow: hidden
}
