<div class="pick-card">
  <div class="header-content">
    <span *ngIf="rank !== undefined && rank !== null" class="pick-rank">{{ rank }}</span>
    <button *ngIf="!rank && removable" class="remove-btn" mat-icon-button type="button" (click)="remove.emit()" aria-label="Remove pick">
      <mat-icon>close</mat-icon>
    </button>
    <span class="pick-label">{{ pick?.label }}</span>
    <span class="pick-value" matTooltip="Value relative to other assets" matTooltipShowDelay="500">{{ value | number:'1.2-2' }}</span>
  </div>
</div>
