<mat-toolbar class="navbar mat-elevation-z1">
  <mat-toolbar-row>
    <span class="navbar-title">Dynasty Basketball Trade Evaluator</span>
    <span class="spacer"></span>
    <mat-button-toggle-group
      class="navbar-scoring-toggle"
      [value]="scoringService.scoring$ | async"
      (change)="onScoringChange($event.value)"
      appearance="legacy"
      exclusive
    >
      <mat-button-toggle *ngFor="let option of scoringOptions" [value]="option">
        {{ option | titlecase }}
      </mat-button-toggle>
    </mat-button-toggle-group>
  </mat-toolbar-row>
</mat-toolbar>
