html, body {
  height: 100%;
  background: #181818;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  background: #181818;
}

.layout-container {
  display: flex;
  min-height: 100vh;
  background: #181818;
}

main {
  flex: 1;
  padding: 2rem;
  background: #232323;
  color: #fff;
  min-width: 0;
}

